<ul class="nav nav-pills nav-stacked">
  <p>活動資訊</p>
  <li><a href="##">新增活動</a></li>
  <li><a href="##">即將舉辦</a></li>
  <li><a href="##">過去活動</a></li>
  <p>設定</p>
  <li><a href="##">會員資訊</a></li>
  <li><a href="##">郵件設定</a></li>
  <li><a href="##">管理員設定</a></li>
</ul>
