<ul class="sidebar">
  <p>Events</p>
  <li><a href="/admin/events">即將舉辦</a></li>
  <li><a href="/admin/events">過往活動</a></li>
  <li><a href="/admin/events/new">新增活動</a></li>
  <p>Settings</p>
  <li><a href="/admin/users">會員資訊</a></li>
  <li><a href="##">郵件設定</a></li>
  <li><a href="##">管理員設定</a></li>
</ul>
