<% @events.each do |event| %>
  <div class="row thumbnail">
    <div class="caption">
      <h2><%=link_to event.title, event_path(event)%></h2>
      <p>
        <span class="glyphicon glyphicon-calendar"></span>
        <%=event.date.to_formatted_s(:short) %>
      </p>
      <p>
        <span class="glyphicon glyphicon-road"></span>
        <%=event.place%>
      </p>
    </div>
  </div>
<%end%>
