  <h1><%= @event.title%></h1>
  <p>
    <span class="glyphicon glyphicon-calendar"></span>
    <%=@event.start_date.strftime('%Y-%m-%d %H:%M')  %>
  </p>
  <p>
    <span class="glyphicon glyphicon-road"></span>
    <%=@event.place%>
  </p>
  <p>
    <%=sanitize @event.description%>
  </p>

