<h2><%= t('crud.show!', resource: Admin::Attendee.model_name.human) %></h2>
<table class="table table-striped table-bordered">
  <tbody>
    <%= tr_for @admin_attendee, :id, %i[user name], %i[user email] %>
    <% @admin_attendee.field_values.each do |field_value| %>
      <tr>
        <td><%= field_value.field.name %></td>
        <td><%= field_value.value_text %></td>
      </tr>
    <% end %>
  </tbody>
</table>
