//= require select2
//= require redactor
//= require bootstrap
//= require bootstrap-datetimepicker_min
//= require_self

// admin/_navbar.html.erb

header {
  height: 120px;
  color: #fff;
  padding-top: 50px;
  background: #d3360b;
  .container {
    width: 1170px;
    margin: 0 auto;
    h1 {
    font-size: 32px;
    display: inline;
    }
    nav {
      text-align: right;
      a {
        text-decoration: none;
        color: #fff;
        font-weight: 300;
        font-size: 20px;
        letter-spacing: 1px;
        margin-left: 15px;
        &:hover {
          color: #FFFFCC;
          text-decoration: underline;
        }
      }
    }
  }
}

// admin/_sidebar.html.erb

.container {
  width: 1170px;
  margin: 0 auto;
}

.sidebar {
  float: left;
  width: 270px;
  height: 100%;
  padding: 15px 10px 0;
  p {
    font-size: 28px;
    padding: 10px 0;
  }
  a {
    font-size:22px;
    line-height: 2;
    padding: 0 20px;
    color: #d3360b;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.content {
  float: left;
  left: 270px;
  top: 0;
  width: 850px;
  padding: 10px 0;
  h2 {
    margin-bottom: 25px;
    margin-left: -25px;
    padding-left: 10px;
    border-left: 10px solid #d3360b;
    a {
      color: #000;
      text-decoration: underline;
      &:hover {
        color: #777;
      }
    }
  }
  .table {
    width: 100%;
    thead {
      font-weight: bolder;
      line-height: 2;
      font-size: 16px;
    }
    tbody {
      font-size: 16px;
      line-height: 16px;
    }
  }
}

.map-canvas {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}
