//= require select2
//= require bootstrap
//= require_self
//= require_tree ./admin

// admin/_navbar.html.erb

header {
  height: 120px;
  color: #fff;
  padding-top: 50px;
  background: #d3360b;
  .container {
    width: 1170px;
    margin: 0 auto;
    h1 {
    font-size: 32px;
    display: inline;
    }
    nav {
      text-align: right;
      a {
        text-decoration: none;
        color: #fff;
        font-weight: 300;
        font-size: 20px;
        letter-spacing: 1px;
        margin-left: 15px;
        &:hover {
          color: #FFFFCC;
          text-decoration: underline;
        }
      }
    }
  }
}

// admin/_sidebar.html.erb

.container {
  width: 1170px;
  margin: 0 auto;
}

.sidebar {
  float: left;
  width: 270px;
  height: 100%;
  padding: 15px 10px 0;
  p {
    font-size: 28px;
    padding: 10px 0;
  }
  a {
    font-size:22px;
    line-height: 2;
    padding: 0 20px;
    color: #d3360b;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.content {
  float: left;
  left: 270px;
  top: 0;
  padding: 10px 0;
  .table {
    width: 850px;
    thead {
      text-align: left;
      font-weight: bolder;
      padding: 10px 0;
      font-size: 25px;
      line-height: 2;
    }
    tbody {
      font-size: 22px;
      line-height: 2;
    }
  }
}