<h2><%= Admin::User.model_name.human %></h2>
<table class="table">
  <thead>
    <tr>
      <%= th_for Admin::User, :id, :name, :email, :tel, :admin %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_users.each do |admin_user| %>
      <tr>
        <%= td_for admin_user, :id, :name, :email, :tel, :admin %>
        <%= td_action_for admin_user %>
      </tr>
    <% end %>
  </tbody>
</table>
