<h2><%= t('crud.show!', resource: Admin::User.model_name.human) %></h2>
<table class="table">
  <thead>
    <th>屬性</th>
    <th>值</th>
  </thead>
  <tbody>
    <%= tr_for @admin_user, :id, :name, :email, :tel, :admin %>
  </tbody>
</table>
